

.nav_container {
	

	.top_nav_container {
		position: fixed;
		display: flex;
		-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 44px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
    background: #fff;
    z-index: 20;

    .logo_container {
    	display: flex;
    	align-items: center; 
    }



		&::before {
			background-color: #dbdbdb;
	    background-color: rgba(var(--b6a,219,219,219),1);
	    bottom: -1px;
	    content: '';
	    height: 1px;
	    left: 0;
	    position: absolute;
	    right: 0;
		}
	}

	.bottom_nav_container {
		position: fixed;
		bottom: 0;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		height: 45px;
		background: #fff;
		z-index: 20; 

		.upload_img_btn {
			display: none;
		}

		.upload_img_btn::-webkit-file-upload-button {
    	display: none; 
    }


    .nav_bottom_btn {
    	width: 100%;
    	height: 100%;
    	display: grid;
    	place-items: center;
    	cursor: pointer;
    	
    }

    .user_acct_btn {

    	img {
    		width: 30px;
    		height: 30px;
    		border-radius: 50%;
    	}
    }


		&::before {
			background-color: #dbdbdb;
	    background-color: rgba(var(--b6a,219,219,219),1);
	    top: -1px;
	    content: '';
	    height: 1px;
	
	    left: 0;
	    position: absolute;
	    right: 0;
		}
	}
}

